.index__container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 30px;
}

.header__navigation {
  padding-top: 27px;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-template-rows: 61px;
  align-items: center;
  justify-items: start;
  margin-bottom: 94px;
}

.header__logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.06em;
  color: #2D2D2D;
}

span {
  color: #3670C7;
}

.header__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 61px;
  align-items: end;
  gap: 70px;
}

.header__link {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}

.header__link-person:before {
  position: absolute;
  content: url("../img/person.svg");
  left: 15px;
  top: -38px;
}

.header__link-shopping:before {
  position: absolute;
  content: url("../img/shopping_cart.svg");
  left: 14px;
  top: -38px;
}

.header__link-favorite:before {
  position: absolute;
  content: url("../img/favorite.svg");
  left: 23px;
  top: -38px;
}

.header__btn {
  position: relative;
  border: none;
  background-color: #3670C7;
  border-radius: 10px;
  padding: 9px 28px 12px 61px;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #FFFFFF;
}

.header__btn:before {
  content: url("../img/sort.svg");
  position: absolute;
  top: 12px;
  left: 31px;
}

.header__search {
  display: block;
  position: relative;
  padding: 15px 530px 18px 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #8F8F8F;
  background-color: #EFEFEF;
  border-radius: 30px;
  border: none;
}

.header__btn-search {
  position: absolute;
  background-image: url("../img/btn_search.svg");
  background-repeat: no-repeat;
  width: 101px;
  height: 54px;
  top: 31px;
  left: 1540px;
  border: none;
  border-radius: 30px;
}

@media (max-width: 1024px) {
  .header__navigation {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 42px 42px;
    row-gap: 44px;
  }
  .header__logo {
    grid-column: 1 / 2;
    grid-row: 1 /  2;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.06em;
  }
  .header__list {
    grid-column: 3 / 4;
    grid-row: 1 /  2;
    justify-self: end;
  }
  .header__btn {
    grid-column: 1 / 2;
    grid-row: 2 /  3;
  }
  .header__search {
    padding: 15px 455px 18px 40px;
  }
  .header__btn-search {
    top: 106px;
    left: 894px;
  }
  form {
    grid-column: 3 / 4;
    grid-row: 2 /  3;
  }
}

@media (max-width: 768px) {
  .header__navigation {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 42px 42px;
    row-gap: 44px;
  }

  .header__logo {
    grid-column: 1 / 2;
    grid-row: 1 /  2;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0.06em;
  }

  .header__list {
    grid-column: 3 / 4;
    grid-row: 1 /  2;
    justify-self: end;
  }

  .header__link {
    font-size: 12px;
  }

  .header__link-person:before {
    left: 8px;
  }

  .header__link-shopping:before {
    left: 7px;
  }

  .header__link-favorite:before {
    left: 14px;
  }

  .header__btn {
    grid-column: 1 / 2;
    grid-row: 2 /  3;
    padding: 7px 11px 11px 49px;
    font-size: 16px;
  }

  .header__btn:before {
    top: 6px;
    left: 20px;
  }

  .header__search {
    padding: 11px 320px 15px 30px;
    font-size: 12px;
    line-height: 130%;
  }

  .header__btn-search {
    top: 113px;
    left: 662px;
    background-image: url("../img/btn768.svg");
    width: 82px;
    height: 42px;
  }

  form {
    grid-column: 3 / 4;
    grid-row: 2 /  3;
  }
}

@media (max-width: 320px) {
  .header__navigation {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px 30px;
    row-gap: 20px;
  }

  .header__logo {
    grid-column: 1 / 2;
    grid-row: 1 /  2;
    font-size: 18px;
    line-height: 25px;
  }

  .header__list {
    grid-column: 2 / 3;
    grid-row: 2 /  3;
    justify-self: end;
    column-gap: 0;
  }

  .header__link {
    font-size: 12px;
    color: #fff;
  }

  .header__link-person:before {
    left: 24px;
    content: url("../img/person320.svg");
    top: -30px;
  }

  .header__link-shopping:before {
    left: 23px;
    top: -30px;
    content: url("../img/shopping_cart320.svg");
  }

  .header__link-favorite:before {
    left: 30px;
    top: -30px;
    content: url("../img/favorite320.svg");
  }

  .header__btn {
    grid-column: 1 / 2;
    grid-row: 2 /  3;
    padding: 5px 11px 7px 31px;
    font-size: 16px;
  }

  .header__btn:before {
    top: 4px;
    left: 7px;
  }

  .header__search {
    padding: 9px 147px 11px 16px;
    font-size: 8px;
    line-height: 130%;
  }

  .header__btn-search {
    top: 127px;
    left: 240px;
    background-image: url("../img/btn320.svg");
    width: 50px;
    height: 30px;
  }

  form {
    grid-column: 1 / 3;
    grid-row: 3 /  4;
  }
}


